{% extends 'base.html.twig' %}

{% block title %}Edit Calendertable{% endblock %}

{% block body %}
    <h1>Edit Calendertable</h1>

    {{ include('calendertable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_calendertable_index') }}">back to list</a>

    {{ include('calendertable/_delete_form.html.twig') }}
{% endblock %}
